.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-between;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}
.logo svg {
    width: 160px;
    height: 160px;
}

.logo path {
    fill: var(--text-primary) !important;
    stroke: var(--text-primary) !important;

}


.title {
    font-size: 2rem;
    margin: 1rem 0;
}

