[Desktop Entry]
Type=Application
Name=Inner Breeze
Comment=A meditation app to guide and track your Wim Hof Breathing practice
Exec=inner_breeze
Icon=io.naox.InnerBreeze
Terminal=false
Version=1.5
Categories=Utility;Education;
Keywords=Meditation;Breathing;Relaxation;Focus;Wellness;
StartupNotify=true
