[Desktop Entry]
Type=Application
Name=Inner Breeze
Name[ru]=Внутренний бриз
Comment=A meditation app to guide and track your Wim Hof Breathing practice
Comment[ru]=Медитация и практикование дыхания по методу Вим Хофа
Exec=inner_breeze
Icon=io.naox.InnerBreeze
Terminal=false
Version=1.5
Categories=Utility;
Keywords=Meditation;Breathing;Relaxation;Focus;Wellness;
StartupNotify=true
